<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= patient.date_of_birth %>
  </p>

  <p>
    <strong>Next appointment:</strong>
    <%= patient.next_appointment %>
  </p>

</div>
