<tr id="<%= dom_id patient %>">
  <td><%= patient.name %></td>
  <td><%= patient.email %></td>
  <td><%= patient.date_of_birth %></td>
  <td><%= patient.next_appointment %></td>
  <td><%= link_to "View details", patient %></td>
</tr>
